<form action='/condorfy' method='post'>

  <fieldset>
    <legend>1: Basic configuration</legend>
    <p><label class="main">Select Universe:</label></p>

    <p>
      <% %w(vanilla standard parallel java).each do |universe| %>
      <input type="radio" name="universe" value="<%= universe %>" id="<%= universe %>" <%= universe == 'vanilla'? "checked" : ""%>/>
      <label for="<%= universe %>"><%= titleize universe %></label>
      <% end %>
    </p>

    <p>
      <label class="main" for="executable">Executable:</label>
    </p>
    <p>
      <select name="executable">
        <option option="-1"></option>
        <% @binaries.each_with_index do |item, i| %>
        <option option=<%=i%>><%=item%></option>
        <%end%>
      </select>
    </p>

    <p>
      <label class="main" for="real_bin_path">Or custom bin path:</label> <input type="text" name="real_bin_path" />
    </p>

    <p>
      <label class="main">Out-Err-Log files name:</label><br/> <input type="text" name="files_name" size="50" />
    </p>

    <p>
      <label class="main">Executable arguments:</label><br/> <input type="text" name="arguments" size="50" />
    </p>

    <p>
      <label class="main">Number of Jobs or number of cores for the Parallel Universe:</label>
    </p>

    <select name="jobs_or_cores">
      <% @max_num_jobs.times do |i| %>
      <option option=<%=i+1%>><%=i+1%></option>
      <%end%>
    </select>

    <p>
      <label class="main">Input file contents (plain text):</label><br/>
      <textarea name="input_file_content" rows="6" cols="58"></textarea>
    </p>
  </fieldset>


  <fieldset>
    <legend>2: More options</legend>
    <p>
      <label class="main">Set environment variables:</label>
    </p>

    <div id="env-variables"></div>

    <p><a href='#' id='js-add-env'>Add Environment Variable</a></p>

    <p>
      <label class="main">Should transfer files:</label><br/>
      <% %w(IF_NEEDED YES NO).each do |should| %>
      <input type="radio" name="should_transfer_files" value="<%= should %>" <%= should == 'IF_NEEDED'? "checked" : ""%> />
      <label for="<%= should %>"><%= should %></label>
      <% end %>
    </p>

    <p>
      <label class="main">When to transfer output:</label><br/>
      <% %w(ON_EXIT ON_EXIT_OR_EVICT).each do |transfer| %>
      <input type="radio" name="when_to_transfer_output" value="<%= transfer %>" <%= transfer == "ON_EXIT"? "checked":"" %>/>
      <label for="<%= transfer %>"><%= transfer %></label>
      <% end %>
    </p>

  </fieldset>

  <fieldset>
    <legend>3: Even more</legend>
    <p>
      <label class="main">Requirements</label><br/>
      <p>
        <label class="main">Operating System:</label>
        <% @opsys.each do |opSys| %>
        <input type="radio" name="required_opsys" value="<%= opSys %>" id="<%= opSys %>" />
        <label for="<%= opSys %>"><%= opSys %></label>
        <% end %>
      </p>
      <p>
        <label class="main">Architecture:</label>
        <% @archs.each do |arch| %>
        <input type="radio" name="required_arch" value="<%= arch %>" id="<%= arch %>" />
        <label for="<%= arch %>"><%= arch %></label>
        <% end %>
      </p>
      <p>
        <label class="main">Minimum Memory:</label>
        <select name="required_memory">
          <option value=""> N/A </option>
          <% 1.upto(10) do |i| %>
          <option value=<%= 2**i %>> <%= 2**i %> MB</option>
          <%end%>
        </select>
        of physical memory
      </p>
    </p>

  </fieldset>
  <div id="button-div">
    <input type="submit"  value="Condorfy!">
  </div>
</form>
